.pixi/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

wheels/outputs/*
!wheels/outputs/.gitkeep
wheels/figures/*
!wheels/figures/.gitkeep
wheels/models/*.out
wheels/models/*.vti
wheels/models/_chain_temp_*.in

my_*
